.text-gray-600{
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
}

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: block;
    width: auto;
    height: auto;
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.-m-4 {
    margin: -1rem;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.py-4 {
    padding: 1rem;
}

.md\:w-1\/3 {
    width: 33.333333%;
}

.overflow-hidden {
    overflow: hidden;
}

.h-full{
    height: 100%;
}

.border-2 {
    border-width: 2px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.border-opacity-60 {
    --tw-border-opacity: 0.6;
}

.border-gray-200 {
    border-color: gray;
}

.lg\:h-48 {
    height: 12rem;
}

.md\:h-36 {
    height: 9rem;
}

.w-full {
    width: 100%;
}

.object-center {
    object-position: center;
}

.object-cover {
    object-fit: cover;
}

.tracking-widest {
    letter-spacing: .1em;
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.md-1 {
    margin-bottom: 0.25rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.font-medium {
    font-weight: 500;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17,24,39,var(--tw-text-opacity));
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.items-center {
    align-items: center;
}

.lg\:mb-0 {
    margin-bottom: 0;
}

.md\:mb-2 {
    margin-bottom: 0.5rem;
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgba(99,102,241,var(--tw-text-opacity));
}

.inline-flex {
    display: inline-flex;
}

.w-4 {
    width: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.h-4 {
    height: 1rem;
}

.lg\:ml-auto {
    margin-left: auto;
}

.md\:ml-0 {
    margin-left: 0;
}

.pr-3 {
    padding-right: 0.75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-3 {
    margin-right: 0.75rem;
}

.leading-none {
    line-height: 1;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.border-r-2 {
    border-right-width: 2px;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.rem {
    font-size: 1rem;

}

html {
     font-size: 20px;
 }